<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
  
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h2>About us</h2>
    <p>Anim deserunt sint amet eu ex amet. Ex non enim dolor magna eiusmod ullamco nisi magna. Aliqua eu consectetur excepteur sint amet ullamco consectetur elit fugiat id. Amet minim sit et esse nulla magna consequat in do quis mollit exercitation duis. Est labore excepteur sit ad dolor duis. Eu labore enim consectetur adipisicing minim commodo incididunt ad fugiat non excepteur.</p>
    <p>Anim deserunt sint amet eu ex amet. Ex non enim dolor magna eiusmod ullamco nisi magna. Aliqua eu consectetur excepteur sint amet ullamco consectetur elit fugiat id. Amet minim sit et esse nulla magna consequat in do quis mollit exercitation duis. Est labore excepteur sit ad dolor duis. Eu labore enim consectetur adipisicing minim commodo incididunt ad fugiat non excepteur.</p>
    <p>Anim deserunt sint amet eu ex amet. Ex non enim dolor magna eiusmod ullamco nisi magna. Aliqua eu consectetur excepteur sint amet ullamco consectetur elit fugiat id. Amet minim sit et esse nulla magna consequat in do quis mollit exercitation duis. Est labore excepteur sit ad dolor duis. Eu labore enim consectetur adipisicing minim commodo incididunt ad fugiat non excepteur.</p>
    
  </div>

  <%- include("./partials/footer.ejs") %>

</body>
</html>